@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kreon:wght@300..700&display=swap');

:root {
    --primary: #263C91;
    --secondary: #FFEE39;
}


* {
    font-family: "Bebas Neue", sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;

}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-list {
    order: 3;
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}



.logo-img {
    order: 1;
    height: 6rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--primary);
}

a.main-links:link,
a.main-links:visited {
    text-decoration: none;
    color: var(--secondary);
}


/* Home Page */
.header {
    background-color: var(--primary);
    padding: 2rem;
    height: 85vh;
}

#hero-section {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

#hero-txt {
    background-image: url(./images/bolt.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 7rem;
    width: 50%;
    z-index: 1;
    position: relative;
    color: var(--secondary);
}

#hero-img {
    width: 33%;
    height: auto;
    position: relative;
    top: -1rem;
    /* box-shadow: 1px 4px 12px 0px rgba(144, 140, 123, 0.53); */

}

#cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards-title {
    padding: 2rem;
    color: var(--primary);
    font-size: 4rem;
}

#ball-img {
    height: 4rem;
}

#cards {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    border-radius: 10px;
    width: 15rem;


}

.pokemon-img {
    width: 55%;
    position: relative;
    padding: 2rem;
    z-index: 1;
}

.border-card {
    width: 50%;
    box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    position: relative;
    top: -6rem;
    padding-top: 3rem;
    z-index: -1;
    margin-bottom: -6rem;
}

.pokemon-name {
    color: var(--primary);
    font-size: 1.5rem;
    text-align: center;
}

#footer {
    background-color: #263C91;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Kreon", serif;
}

/* Details Page */

#main-section {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    padding: 5rem;
}

#secondary-section {
    margin: auto;
    background-color: #F9D51D;
    height: 100%;
    position: relative;
    z-index: 0;

}


#details-section {}


#details-card {
    /* background-color: antiquewhite; */
    padding: 0 0.5rem 1rem 0.5rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: "details img forms";
    height: 70%;
    /* align-items: self-start; */
}

#details-section {
    /* background-color: aliceblue; */
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#background {
    position: absolute;
    top: 16rem;
    left: 12.8rem;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.227);
    font-size: 23rem;
}


#poke-name {
    font-size: 5rem;
    /* background-color: chocolate; */
    margin-bottom: 0;
    padding-bottom: 0;

}

#details-slider {
    /* background-color: brown; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#details-control {
    /* background-color: burlywood; */
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#details-title {
    color: white;
    padding: 1rem 2rem;
    background-color: var(--primary);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.arrow-btn {
    background: none;
    border: 0;
}

#details-list {
    width: 70%;
    padding: 0 1rem 1rem 1rem;
    /* background-color: aquamarine; */
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3rem;

}

.list-item {
    font-family: "Kreon", serif;
    font-size: 1.3rem;
}



.poke-info {
    font-family: "Kreon", serif;
    font-size: 1.5rem;
}

#img-section {
    /* background-color: aqua; */
    grid-area: img;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#weight {
    /* text-align: center; */
}

#height {
    transform: rotate(270deg);
}

#sticky-height {
    width: 100%;
    display: flex;
    align-items: center;
}

#poke-img {
    width: 60%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    align-self: center;
}

#forms-section {
    /* background-color: blue; */
    grid-area: forms;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 2rem;
}

#form-list {
    list-style: none;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.form-img {
    padding: 1rem;
    width: 100%;
}

@media screen and (max-width:768px) {

    .header {
        height: auto;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #hero-section {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero-img {
        display: none;
    }


    #hero-txt {

        width: 70%;
        padding: 0;
        font-size: 3rem;
    }

    #cards-title {
        text-align: center;
    }

    /* Details  */
    #main-section {
        height: auto;
        padding: 3rem;
    }

    #details-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #details-section {
        padding: 0;
        margin: 0;
    }

    #poke-name {
        font-size: 3rem;
    }

    #poke-img {
        width: 100%;
    }

    #details-control {
        box-sizing: border-box;
        margin: 1rem;
        width: 100%;
        height: auto;
        justify-content: space-between;

    }

    #details-title {
        padding: 0.4rem 2rem;
        margin: auto;
        align-self: center;
    }

    .arrow-btn {
        margin: 0;
    }

    #background {
        display: none;
    }

}

@media screen and (max-width:1080px) {
    .header {
        height: auto;
    }

    #hero-img {
        width: 70%;
    }

    #hero-txt {
        font-size: 5rem;
    }

    #cards-title {
        text-align: center;
    }

    #cards {
        margin-top: 0;
        padding-top: 0;
    }

    #main-section {
        height: auto;
        padding: 3rem;
    }

    #details-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #background {
        display: none;
    }

    #poke-name {
        font-size: 4rem;
    }

    #poke-img {
        width: 100%;
    }

    #details-control {
        box-sizing: border-box;
        margin: 1rem;
        width: 100%;
        height: auto;
        justify-content: space-evenly;

    }

    #details-title {
        padding: 0.4rem 2rem;
        margin: auto;
        align-self: center;
    }

    #weight {
        font-size: 0.7rem;
    }

    #height {
        font-size: 0.7rem;
    }


}

@media screen and (max-width: 1264px) {
    #main-section {
        height: auto;
    }

    #hero-img {
        width: 50%;
    }

    #details-control {
        box-sizing: border-box;
        margin: 1rem;
        width: 80%;
        height: auto;
        justify-content: space-evenly;

    }

    #details-title {
        padding: 0.4rem 2rem;
        margin: auto;
        align-self: center;
    }
}